<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MundoPuzzle</title>
  </head>
  <body>
    <h1>Bienvenidos a MundoPuzzle</h1>
    {{{body}}}
  </body>
</html>